<a href="https://colab.research.google.com/github/petrus1210/pemograman-dasar/blob/main/PRAKTIKUM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers [0] # 23
numbers [1] # 43
numbers [2] # 15
numbers [3] # 34
#cara mengubah nilai elemen dalam variabel list
numbers [2] #51
numbers [2] #51

print (numbers[1]) #lakukan untuk setiap indexnya dan lihat hasilnya

43

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambänkan elemen di indeks ke-4
numbers.insert(4, 5)    # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4    # [1; 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers. pop(2)    # [1, 2, 4]

#print lalu lihat hasilya

3

In [ ]:
# deklarasi variabel list numbers

numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4

numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4 numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2 numbers.pop(2) # [1, 2, 4]

#print setiap hasil perubahan dan amati hasilnya

In [ ]:
# deklarasi variabel list

myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

#cara mengakses elemen dalam variabel list

myList[0] #1

myList[1] # "Rumah"

myList[3] # True

myList[4] # ["Kamar mandi", "Kamar tidur"]

#cara mengakses elemen dalam sublist

myList[4][0] # "Kamar mandi"

myList[4][1] # "Kamar tidur"

#lakuan print lalu amati hasilnya

'Kamar tidur'

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])

print(x[1:])

print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [ ]:
x = (1, "Polibatam", 1+3j)

print(type(x))

<class 'tuple'>

In [ ]:
x = (5, 'program', 1+3j)

print (x[1])

print (x[0:3])

program
(5, 'program', (1+3j))

In [ ]:
x = (5, 'program', 1+3j)

x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# deklarasi variabel tuple numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple

numbers = (23, 43, 15, 34)
numbers [0] # 23

numbers [1] # 43

numbers [2] # 15

#lakuan print lalu amati hasilnya

print (numbers[0])
print (numbers[1])
print (numbers[2])

23
43
15

In [ ]:
#deklarasi variabel set a dan b

a= {1, 2, 3}

b= {2, 3, 4}

#operasi gabungan

a.union(b)

#{1, 2, 3, 4}

# operasi irisan a.intersection(b)

#{2,3}

# operasi perbedaan

a.symmetric_difference(b)

#(1, 4)

#lakukan print dan lihat hasilny

{1, 4}

In [ ]:
x= { 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(type(x))

<class 'dict'>

In [ ]:
x={ 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x[0])

KeyError: 0

In [ ]:
x = { 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x ['petrus randanu'])

Perseus Evans

In [ ]:
x = { 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }
x['Job'] = "engineering"

print(x)

{'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False, 'Job': 'engineering'}

In [ ]:
x = { 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }
del x['isMarried']

print(x)

{'petrus randanu': 'Perseus Evans', 'age': 20}

In [ ]:
x = { 'petrus randanu': 'Perseus Evans', 'age': 20, 'isMarried': False }

x ['petrus randanu'] = "Exvan"

print(x)

{'petrus randanu': 'Exvan', 'age': 20, 'isMarried': False}

In [ ]:
#deklarasi variabel dictionary

propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

#cara mengakses elemen dalam variabel dictionary

propertyDetail ["numFloors"] #1

propertyDetail ["propertyType"]

#Rumah

propertyDetail ["hasTerrace"]

# True

propertyDetail["hasGarage"]

#False

#cara mengubah nilai elemen dalam variabel dictionary

propertyDetail["hasTerrace"] = False

propertyDetail ["hasTerrace"]

#False

#print(property Detail ["propertyType"])

#lakuan print lalu amati hasilny

False